# Models, Pickle, JSON (Training History) related
*.pth
*.pkl
*.json
*.0                     

# Ignore Datasets
*.csv
*.xlsx

# Ignoring Original MRA-MIDAS implementation, References & Technical Notes
V0.1 - MRA-MIDAS
Misc Documents
V0.2/wandb