# Install by typing "pip install -r requirements.txt" in the terminal.
# Create by typing "pip freeze > requirements.txt" in the terminal, however use a different name to retain the original while prototyping.

numpy
pandas
scikit-learn
pillow
opencv-python

# Visualization & logging
matplotlib
tensorboard

# Utilities (Progress Bar & Excel)
tqdm
openpyxl

# Image Models (EfficientNet)
timm

# PyTorch & Torchvision, DL & NN Training
# In order to train on GPU, find the CUDA GPU Compute Capability from this website: https://developer.nvidia.com/cuda/gpus
# Then run "pip install torch torchvision --index-url https://download.pytorch.org/whl/cu[YOUR_VERSION]" for your specific version.
torch
torchvision